:root {
  --pink-dark: #ee027e;
  --pink-dark-shadow: #db0475;
  --pink-basic: #fd349c;
  --pink-light: #fe7abf;
  --pink-light-very: #ffd5eb;
  --pink-form: #ffecf5;
  --green-basic: #019149;
  --red-strong: #ba2363;
  --gray-light: #e4e1e1;
  --black-basic: #333333;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--gray-light);
  color: var(--black-basic);
}
